body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: "Poppins Regular", sans-serif;
    font-size: 18px;
    color: var(--text-color-primary-2);
    background: linear-gradient(90deg, var(--background-color-1), var(--background-color-2));
    z-index: 0;
}

h1, h2 {
    font-family: "Qualy Bold", sans-serif;
    color: var(--text-color-primary-1);
}

h1 {
    font-size: 50px;
    line-height: 50px;
}

h2 {
    /* font-size: 50px; */
}

a {
    color: var(--text-color-primary-1);
    opacity: 1;
}

a:hover {
    opacity: 0.7;
}

.primary-button {
    /* background-color: linear-gradient(#0575E6, #021B79); */
    /* background: linear-gradient(264.43deg, rgba(5, 117, 230, 0.75) -89.49%, #021B79 92.02%); */
    padding: 15px 40px;
    font-family: "Poppins Regular", sans-serif;
    font-size: 14px;
    color: var(--text-color-primary-1);
    background: linear-gradient(90deg, var(--CTA-1), var(--CTA-2));
    border: 0;
    border-radius: 43px;
    opacity: 1;
}

.primary-button:hover {
    opacity: 0.7;
}



.converting {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    box-sizing: border-box;
    margin: 0px var(--margin-left-right);
    padding: 0px max(5%, 70px);
}

.converting>div {
    width: 50%;
    min-width: 300px;
}

.converting>#infos {
    box-sizing: border-box;
    align-self: center;
    padding-right: 30px;
}

.converting>#infos>button {
    margin-top: 10px;
}

.converting>#image {
    text-align: center;
}

.blur {
    border-radius: 38px;
    backdrop-filter: blur(30px) contrast(0.85);
    -webkit-backdrop-filter: blur(30px) contrast(0.85);
}



#wave {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header {
    text-align: center;
}

header>#logo {
    margin-top: 40px;
    width: 125px
}


#converting1 {
    overflow: hidden;

    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

#converting1>div {
    margin: 30px 0px 0px 0px;
}

#converting1>#image {
    max-height: -webkit-fill-available;
}

#converting1>#image>img {
    margin-bottom: -65px;
    width: 500px;
    max-width: -webkit-fill-available;
}

@media screen and (max-width: 822px) {
    #converting1>#infos {
        text-align: center;
        padding-right: 0px;
    }
}


/* #arrow {
    display: block;
    margin: auto;
    width: 30px;
} */


#partenaires {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 50px var(--margin-left-right);
    opacity: 0.2;
    filter: grayscale(1);
}

#partenaires>* {
    object-fit: contain;
    width: 10%;
    min-width: 50px;
    max-width: 150px;
    margin: 15px;
}

@media screen and (max-width: 822px) {
    #partenaires {
        margin: 40px var(--margin-left-right);
    }
}


#converting2 {
    margin-top: 80px;
}

#converting2>#infos>ul {
    text-align: left;
}

#converting2>#image img {
    width: 500px;
    max-width: -webkit-fill-available;
}

@media screen and (max-width: 1174px) {
    #converting2 {
        margin-top: 60px;
    }

    #converting2>#infos {
        padding-right: 0px;
        text-align: center;
    }
    
    #converting2>#image {
        margin-top: 50px;
    }
}

@media screen and (max-width: 666px) {
    #converting2{
        padding: 0px;
    }
}


#over-bulles {
    position: relative;
}

#bulles {
    position: absolute;
    width: 300px;
    right: 3%;
    top: 80px;
    z-index: 0;
}


#converting3 {
    height: auto;
    margin-top: 120px;
    margin-bottom: 100px;
}

#converting3>#image {
    margin-top: 60px;
}

#converting3>#image>img {
    margin-bottom: -4px;
    width: 400px;
    max-width: -webkit-fill-available;
}

@media screen and (max-width: 822px) {
    #converting3>#infos {
        margin-top: 60px;
        text-align: center;
        padding-right: 0px;
    }
}


footer {
    padding: 40px max(5%, 20px);
    text-align: center;
    background-color: #080D1A;
}

footer>#logo2 {
    display: block;
    margin: 20px auto;
    width: 200px;
}

footer>#reseaux {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 25px auto;
}

footer>#reseaux>img {
    margin: 0px 6px;
    width: 25px;
    opacity: 1;
}

footer>#reseaux>img:hover {
    opacity: 0.7;
}



.modal {
    width: 500px;
    color: white;
    text-align: center;
    background: none;
    border: none;
}

.modal #close {
    position: absolute;
    top: 22px;
    right: 20px;
    background: none;
    border: none;
}

.modal #close:hover {
    opacity: 0.7;
}

.modal #close>img {
    width: 30px;
}

.modal>#close:hover {
    opacity: 0.7;
}

#modal-inscription>p {
    padding: 0px 60px;
    font-size: 8.5pt;
    line-height: 17px;
}

#modal-inscription>h1 {
    margin-top: 40px;
}

#modal-inscription>#message {
    text-align: left;
}

#modal-inscription>form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0px 60px;
}

#modal-inscription>form>input, #modal-inscription>form>#profession {
    width: 100%;
    margin: 10px 0px;
    padding: 9px 18px;
    color: var(--text-color-primary-1);
    border: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 33px;
}

#modal-inscription>form>input:focus, #modal-inscription>form>#profession:focus {
    outline: none;
}

#modal-inscription>form>#profession {
    border-right: 16px solid transparent;
    background: rgba(217, 217, 217, 0.1);
}

#modal-inscription>form>.demi {
    width: 36%;
}

#modal-inscription>form>div {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
}

#modal-inscription>form #CGU {
    width: auto;
}

#modal-inscription>form label[for=CGU] {
    margin-left: 5px;
    font-size: 9pt;
    text-align: left;
}

#modal-inscription>form>#creer-compte {
    margin: auto;
    margin-top: 30px;
}

#modal-inscription>#champs {
    margin-bottom: 25px;
}

select option, select optgroup {
    color: #080D1A;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(50px);
}

#modal-inscription>form>#profession:has(option[hidden]:checked) {
    color: #777;
}

@media screen and (max-width: 600px) {
    .modal {
        margin: auto 20px;
        width: auto;
    }

    #modal-inscription>#message {
        padding: 0px clamp(10px, 12%, 60px);
    }

    #modal-inscription>form {
        margin: 0px auto;
        width: 80%;
    }

    #modal-inscription>form>.demi {
        width: 100%;
    }
}


#modal-valide>#content>#message {
    margin: 40px 60px 0px 60px;
    text-align: left;
    font-size: 9pt;
}

#modal-valide>#content>#message2 {
    margin: 20px 60px 20px 60px;
    text-align: left;
    font-size: 8.5pt;
    line-height: 16px;
}

#modal-valide>#content>button {
    margin: auto;
    margin-bottom: 40px;
}
