:root {
    --text-color-primary-1: #fff;
    --text-color-primary-2: #EDE4E4;

    --background-color-1: #01030B;
    --background-color-2: #131B30;

    --CTA-1: #021B79;
    --CTA-2: rgba(5, 117, 230, 0.75);

    --margin-left-right: clamp(20px, 5%, 100px);
}