@font-face {
    font-family: "K2D ExtraBold";
    src: url('./K2D-ExtraBold.ttf');
}

@font-face {
    font-family: "Poppind Regular";
    src: url('./Poppins-Regular.ttf');
}

@font-face {
    font-family: "Qualy Bold";
    src: url('./Qualy-Bold.ttf');
}