<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Saphyr - Landing page</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../img/logos/logo blanc.png">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/fonts/fonts.css">

    <script src="../../src/modal.js"></script>
</head>

<body>

    <header>
        <img id="wave" src="../img/wave.png" alt="Vague de fond pour styliser">
        <img id="logo" src="../img/logos/logo typo blanc.png" alt="Logo avec le nom">
    </header>


    <section id="converting1" class="blur">
        <div id="infos">
            <h1>Développe la visibilité de ton art !</h1>
            <p>Que tu sois organisateur de soirée, photographe, beatmaker, musicien, graphiste, créer ton profil et fait briller la pierre precieuse qui est en toi.</p>
            <button onclick="openModal('modal-inscription')" title="Créer un compte">Créer mon compte</button>
        </div>

        <div id="image">
            <img id="img-page-profil" src="../img/profil.png" alt="Page de profil">
        </div>
    </section>

    <!-- <img id="arrow" src="../img/icones/arrow.png" alt="Flêche vers le bas"> -->

    <section id="partenaires">
        <img src="../img/partners/beauregard.png" alt="Logo du Festival de Beauregard">
        <img src="../img/partners/orient express.png" alt="Logo de L'Orient Express">
        <img src="../img/partners/le cargo.png" alt="Logo du Cargö">
        <img src="../img/partners/bbc.png" alt="Logo du Big Bang Café">
        <img src="../img/partners/ambar.png" alt="Logo de L'Ambar">
    </section>


    <section id="converting2">
        <div id="infos">
            <h2>Trouve la pépite qu'il te faut</h2>
            <p>• Cherche les profils qui te correspondent</p>
            <p>• Découvre de nouveaux talents avec lesquels collaborer</p>
            <p>• Prend contact avec les profesionnels du milieu</p>
            <p>• Une plateforme tout en un</p> 
            <button onclick="openModal('modal-inscription')">Créer mon compte</button>
        </div>

        <div id="image">
            <img id="img-page-research" src="../img/research.png" alt="Page de résultat de recherche">
            <img id="img-page-messages" src="../img/messages.png" alt="Page de messages">
        </div>
    </section>


    <div id="artiste">
        <div id="image">
            <img src="../img/homme.png">
        </div>

        <div id="infos">
            <h2>Tu es un artiste ?</h2>
            <p>• Développe la visibilité de ton art</p>
            <p>• Ne loupe plus aucun événement près de chez toi</p>
            <p>• Enrichi ton réseau et explore de nouvelles opportunités</p>
            <p>• Créer ton book directement sur ton profil</p>
            <button onclick="openModal('modal-inscription')">Créer mon compte</button>
        </div>
    </div>

    <div id="over-bulles">
        <img id="bulles" src="../img/bulles.png">
    </div>

    <div id="download">
        <div id="infos">
            <h1>Saphyr t’intéresse ?</h1>
            <p>Rejoins-nous sur notre application, et n’attend plus pour développer ton réseau ! </p>
            <button onclick="window.location='https://play.google.com/store/games?gl=FR'">Télécharger l'application</button>
        </div>

        <div id="image">
            <img src="../img/app.png">
        </div>
    </div>

    <footer>
        <img id="logo2" src="../img/logos/typo blanc.png">

        <div id="reseaux">
            <img src="../img/icones/insta.png" onclick="window.location='https://www.instagram.com/'">
            <img src="../img/icones/facebook.png" onclick="window.location='https://fr-fr.facebook.com/'">
            <img src="../img/icones/linkedin.png" onclick="window.location='https://fr.linkedin.com/'">
        </div>

        <p>© 2022 Saphyr, Inc.  •  <a href="./index.html">Confidentialité</a> • <a href="./index.html">Conditions générales</a> • Plan du site • <a href="./index.html">Infos sur l’entreprise</a></p>
    </footer>

    <div id="modal-inscription" class="modal">
        <div id="content">
            <img id="close" src="../img/icones/croix.png" onclick="closeModal('modal-inscription')">
            <h1>Inscris-toi</h1>
            <p id="message">Veuillez remplir les champs ci-dessous et un membre de notre équipe prendra contact avec vous pour finaliser votre inscription</p>
            <form action="" method="post">
                <select id="profession" name="jesuis" placeholder="Je suis*" required>
                    <option>Je suis*</option>
                    <option>Organisateur d'événement</option>
                    <option>Artiste</option>
                    <option>Beatmaker</option>
                    <option>DJ</option>
                    <option>Photographe</option>
                    <option>Graphiste</option>
                    <option>Autre</option>
                </select>
                <input class="demi" type="text" name="nom" placeholder="Nom*" required>
                <input class="demi" type="text" name="prenom" placeholder="Prenom*" required>
                <input type="text" name="mail" placeholder="Adresse mail*" required>
                <input type="tel" name="tel" placeholder="Numéro de téléphone*" required>
                <input type="text" name="societe" placeholder="Nom de la société">
                <div>
                    <input id="CGU" type="checkbox" required>
                    <label for="CGU">J'ai lu et accepté les <a href="./index.html">conditions générales d'utilisations</a></label>
                </div>
                <button onclick="closeModal('modal-inscription'); openModal('modal-valide'); return false">Envoyer mon inscription</button>
            </form>
            <p id="champs">*Champs obligatoires</p>
        </div>
    </div>

    <div id="modal-valide" class="modal">
        <div id="content">
            <img id="close" src="../img/icones/croix.png" onclick="closeModal('modal-valide')">
            <h1>Inscription validé</h1>
            <p id="message">L’équipe de Spahyr te remercie pour ton inscription !</p>
            <p id="message2">Nous vous avons envoyer un email de confirmation sur votre boite mail, veuillez cliquez-sur le lien de confirmation de cet email.</p>
            <button onclick="window.location='https://saphyr-music.fr/'">Accéder à mon compte</button>
        </div>
    </div>

</body>

</html>