<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Saphyr - Test blur</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../img/logos/logo blanc.png">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-test.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/fonts/fonts.css">

    <script src="../../src/modal.js"></script>
</head>

<body>

    <header>
        <img id="wave" src="../img/wave.png" alt="Vague de fond pour styliser">
        <img id="logo" src="../img/logos/logo typo blanc.png" alt="Logo avec le nom">
    </header>


    <section class="backdrop-filter blur">
        test : backdrop-filter: blur(30px)
    </section>

    <section class="backdrop-filter webkit-blur">
        test : -webkit-backdrop-filter: blur(30px)
    </section>

    <section class="backdrop-filter blur-contrast">
        test : backdrop-filter: blur(30px) contrast(1)
    </section>

    <section class="backdrop-filter webkit-blur-contrast">
        test : -webkit-backdrop-filter: blur(30px) contrast(1)
    </section>

</body>

</html>